@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    z-index: 2;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    width: 100%;
    background-color: #e6e6e6;
    scroll-behavior: smooth;
    transition-duration: 0.2s;
    margin: 0;
    overflow-x: hidden;
    min-width: 500px;
}

header {
    position: relative;
}

section {
    margin-bottom: 5%;
    width: 100%;
}

footer {
    width: 100%;
}

div#main_body {
    display: block;
    margin-top: 50px;
}

/*            Github link section            */
aside.github_box {
    position: fixed;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    bottom: 2em;
    left: 2em;
    z-index: 5;
    opacity: 0.6;
}

aside.github_box:hover {
    opacity: 0.9;
}

aside.github_box a {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 15px 20px 15px;
    margin-bottom: 10px;
    font-weight: bold;
    transition-duration: 0.6s;
    color: #ffffff;
    text-shadow:  1px 1px 5px #222222;
    background-color: #963c3c;
    border: 3px solid #b9b9b9;
    border-radius: 5px;
}

aside.github_box a:hover {
    color: #963c3c;
    background-color:#4e4e4e;
    text-shadow:  0 2px 3px #222222;
    transition-duration: 0.3s;
    border-radius: 3rem;
    border-color: #f1f1f1;
}

aside.github_box a img.image {
    position: relative;
    padding-left: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}


div#main_content {
    display: flex;
    width: 100%;
}

/* Nav bar */

nav#nav_bar {
    display: flex;
    left: 0;
    top: 0;
    z-index: 5;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    font-size: 1rem;
    background: linear-gradient(0.25turn, #882020, #963c3c, #882020);
    background: -moz-linear-gradient(0, #882020, #963c3c, #882020);
    height: 160px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Nav Center Header */

div#nav_bar_lower_wrapper {
    width: 100%;
}

div#nav_head_title {
    display:block;
    position: relative;
    width: 80%;
}

h1.header_title1 {
    color: #b9b9b9;
}

h5.header_title2 {
    color: #A49C5B;
}


p.nav_title {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
    transition-duration: 0.8s;
    color: #b9b9b9;
}

div#nav_bar_top_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: 1em;
}

/* left side of the nav */
a.nav_bar_icon img {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 2em 0 0 2em;
    transition-duration: 2s;
}

a#nav_bar_link {
    display: flex;
    position: relative;
    text-decoration: none;
}

a#nav_bar_link p {
    padding: 2em 0 0 2em;
    margin: 0;
}

/* right side of the nav */


li#current_page a p {
    color: #ffffff;
}


div.right_nav_items {
    display: flex;
    position: relative;
    width: auto;
    float: right;
    color: #b9b9b9;
    transition: all 0.3s ease-in-out;
    padding: 1em 0 0 0;
    margin: 1em 0 0 0;
}

div.right_nav_items ul {
    display: flex;
    align-content: center;
    height: 60px;
}

li.nav_item {
    display: flex;
    margin: 0 1em 0 1em;
    text-align: center;
    font-weight: 600;
    transition-duration: 0.8s;
}

li.nav_item a {
    list-style: none;
    color: #b9b9b9;
    text-decoration: none;
    transition-duration: 0.8s;
}

li.nav_item p {
    font-size: 20px;
    margin: auto;
}

li#translator_button a {
    color: #A49C5B;
    font-size: 20px;
}

li#translator_button a:hover {
    color: #ffffff;
}

li.nav_item:hover , li.nav_item a:hover {
    scroll-behavior: smooth;
    transition-duration: 0.8s;
    cursor: pointer;
    color: #ffffff;
}


/* Main content header */
#top_intro_header {
    width: 100%;
}

h4#supplementary_title {
    display: flex;
    font-size: 26px;
    font-family: 'Bebas Neue', Arial, serif;
    float: right;
    font-weight: normal;
    color: #4d4d4d;
}

/* Contact header */
h3.main_sub_title, h3.sub_header_title {
    display: inline-table;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 0 2em 0 0;
    margin: 1em 0 1em 0;
    color: #9a4343;
}

h3.main_sub_title:after {
    display: flex;
    content: ".";
    font-size: 1px;
    width: 350px;
    border-top: 5px solid transparent;
    background: linear-gradient(0.25turn, #882020, #963c3c, #dc5e5e);
    background: -moz-linear-gradient(0, #882020, #963c3c, #dc5e5e);
    background: -webkit-linear-gradient(0, #882020, #963c3c, #dc5e5e);
    border-radius: 0 15px 15px 0;
}

ul#application_ul_list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
}

li.application_item {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 1em 2em 1em 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 150px;
    min-width: 300px;
    height: 150px;
    box-shadow: 5px 5px 10px #4d4d4d;
}

div.application_text_frame {
    margin: 0 1em 0 1em;
}

div.application_text_frame h3 {
    color: #515a7e;
    font-size: 20px;
    margin: 0.5em 0 0 0;
}

div.application_text_frame p {
    margin: 0 0 0.5em 0;
}

div#contact_section > h3.sub_header_title {
    display: inline-table;
    color: #9a4343;
    margin-left: 45%;
}

div#contact_section > h3.sub_header_title:before,
div#contact_section > h3.sub_header_title:after {
    display: block;
    content: ".";
    font-size: 1px;
    width: auto;
    border-top: 5px solid transparent;
    z-index: -1;
    background: linear-gradient(0.25turn, #963c3c, #dc5e5e, #963c3c);
    background: -moz-linear-gradient(0, #963c3c, #dc5e5e, #963c3c);
    background: -webkit-linear-gradient(0, #963c3c, #dc5e5e, #963c3c);
}

h3#top_title {
    font-size: 30px;
    padding-left: 42%;
    padding-right: 28%;
}

div#contact_section {
    display: block;
    width: 100%;
    margin-top: 3%;
}

div.box_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 3; /*Add this*/

}

.inner_div {
    display: inline-block;
    width: 100%;
    text-align: center;
    align-content: center;
}

.inner_div p {
    text-align: center;
    width: 100%;
}

/* Right sidebar */
aside#download_div {
    position: relative;
    width: 400px;
    font-size: 16px;
    margin: 12em 1em 0 1em;
    padding: 0 1em 0 1em;
    float: right;
    border: 5px solid #b9b9b9;
    border-radius: 10px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    text-align: center;
}

aside#download_div > h2 {
    color: #515a7e;
    font-size: 36px;
}

a.download_link {
    display: inline;
    text-decoration: none;
    font-family: "domine-bold", sans-serif;
    width: 100%;
    font-size: 25px;
    color: #9a4343;
    transition-duration: 0.5s;
}

span.version_p {
    font-size: 16px;
    color: #dc5e5e;
}

p.link_title {
    transition-duration: 0.4s;
    margin-bottom: 2em;
    font-family: "domine-bold", sans-serif;
}

p.link_title:hover {
    transition-duration: 0.5s;
    color: #4e4e4e;
    text-shadow: #4e4e4e 1px 0 3px;
}

div#main_content_inner {
    display: block;
    position: relative;
    padding-left: 3.5em;
    padding-right: 3.5em;
    width: 95%;
}

article#mission_statement_content {
    width: 80%;
    margin: 1em 0 1em 8%;
    padding: 1em;
    border: 3px solid #b9b9b9;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    color: #222222;
}

#second_top_intro {
    display: flex;
    margin-top: 8%;
    width: 100%;
}

/*             Member Section Contents               */

#main_section {
    position: relative;
    width: 70%;
}


#intro_div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.box_repeater {
    display: grid;
    padding-left: 3em;
    grid-template-columns: repeat(4, calc(22% - 3px));
    grid-gap: 3%;
}

.container_wrapper {
    display: grid;
    height: 350px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px 0 rgb(115, 115, 115);
    transition-duration: 0.7s;
}

.container_wrapper:hover, .span_icon {
    display: grid;
    transition-duration: 0.3s;
    color: #fff;
    background-color: rgba(184, 161, 88, 0.835);
}

img#process_diagram_img  {
    display: flex;
    width: 80%;
    margin: 2em 0 0 8%;
    padding: 1em;
    background-color: #f1f1f1;
    border: 3px solid #b9b9b9;
    border-radius: 5px;
}

div.image_frame {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

div.image_frame img {
    width: 320px;
    height: auto;
    align-self: center;
    object-position: right;
}

div#developer_manual_section {
    display: block;
    width: 100%;
}

div#developer_manual_section h3.main_sub_title {
    display: block;
}

button#developer_manual_btn {
    width: 300px;
    height: 50px;
    background-color: #9a4343;
    border-radius: 10px;
    border: none;
    transition-duration: 0.5s;
}

button#developer_manual_btn a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    transition-duration: 0.2s;
}

button#developer_manual_btn:hover {
    cursor: pointer;
    background-color: #732a2a;
    transition-duration: 0.2s;
}

button#developer_manual_btn:hover a {
    cursor: pointer;
    transition-duration: 0.2s;
    color: #868686;
}

.span_icon {
    display: flex;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(184, 161, 88, 0.835);
    margin: 1em 1em 1em 1em;
}

.span_icon img {
    display: inherit;
    position: relative;
    width: 100%;
    height: 50px;
    padding-left: 12px;
    background-color: hsl(0, 0%, 100%);
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(53%);
    border-radius: 0 5px 5px 0;
}

#sponser_box {
    box-shadow: 0 10px 25px rgba(184, 161, 88, 0.835);
}

/* Introduction & Contact boxe specifics */

.job_position {
    width: 100%;
    font-size: 1.6em;
    color: #ffffff;
    margin: 0;
    padding-left: 1em;
    padding-top: 7px;
    text-align: center;
    z-index: 3;
}

.team_member_header {
    height: 20px;
    font-family: 'Fjalla One', sans-serif;
    margin: 1em 0.5em 0 0;
    text-align: center;
    font-size: 1.5rem;
}

p.email_address_p {
    font-size: 17px;
    font-style: normal;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    color: #A49C5B;
    text-align: center;
    margin-top: 5em;
}

.box_margin {
    display: block;
    border-radius: 15px;
    background-image: url("../img/background/white_background.jpg");
    background-size: cover;
    backdrop-filter: blur(190px);
}

.intro_content_hover {
    display: inline-block;
    position: relative;
    width: 100%;
}

.intro_content_hover a{
    text-decoration: none;
}

.text_under_content a {
    display: block;
    position: absolute;
    width: 100%;
    color: white;
    padding: 1em 0 1em 0;
    text-shadow: #808080 1px 2px;
}

p.hover_name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

p.hover_name~h3 {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.text_under_content a h3 {
    padding-top: 10px;
}

.text_under_content h3 p, .text_under_content h3 a {
    padding-top: 30%;
    font-size: 12px;
    color: white;
}

div#sponsor_box {
    box-shadow: 5px 5px 20px 0 #A49C5B;
}

#sponsor_img {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    object-fit: cover;
    border-radius: 70% 50% 70% 50%;
    opacity: 0.4;
}

#baek_img {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.4;
}

#cael_img {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.4;
}

#cam_img {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.5;
}

/*              Footer attributes              */

.footer_legal {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 10%;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    background-color: rgb(0, 0, 0);
}


/*           Miscellaneous attributes           */

.div_line {
    width: 100%;
    border: 3px solid rgb(141, 141, 141);
    border-radius: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 2;
}



/* Wide Screen view */
@media only screen and (min-width: 1525px) {
    p.nav_title {
        display: flex;
        font-size: 1.6rem;
    }

    a#nav_bar_link {
        width: 100%;
    }

    a#nav_bar_link p {
        padding: 1.6em 0 0 1.2em;
        margin: 0 0 1em 0;
    }

    div.right_nav_items {
        margin: 0;
        width: 100%;
    }

    li.nav_item a p {
        font-weight: 700;
    }

    li.nav_item a p {
        font-size: 1.8rem;
    }

    li#translator_button a {
        font-size: 1.8rem;
    }

    div.container_wrapper {
        height: 400px;
    }

}

@media only screen and (max-width: 1800px) {
    ul#application_ul_list {
        grid-template-columns: repeat(2, 2fr);
    }

    aside#download_div {
        display: none;
    }
}

/* Mobile view */
@media only screen and (max-width: 1080px) {

    div#main_content_inner {
        margin-top: 250px;
    }

    a.nav_bar_icon {
        display: none;
    }

    a#nav_bar_link {
        display: none;
    }

    aside.github_box {
        left: -2em;
        transform: rotate(270deg);
        margin: 0 0 7% 0;
        padding: 0;
        transition-duration : 0.2s;
    }

    aside.github_box a {
        font-size: 18px;
    }

    aside.github_box a img {
        width : 25px;
    }

    div#nav_bar_top_wrapper {
        display: block;
        margin: 0;
        width: 100%;
    }

    ul#nav_bar_ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 6em 0 0 0;
        padding: 0;
    }

    div.right_nav_items {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
    }

    section#main_section {
        margin: 0;
        width: 100%;
    }

    div.semester_section {
        width: 100%;
    }

    nav#nav_bar {
        height: 250px;
    }

    div#nav_bar_lower_wrapper {
        display: flex;
        position: absolute;
        bottom: 2em;
    }

    div.right_nav_items {
        display: block;
    }

    input#active:checked ~ .right_nav_items{
        clip-path: circle(75%);
        height: 500px;
    }

    a#nav_bar_link {
        width: 70%;
    }

    h1.header_title1 {
        font-size: 3rem;
    }

    h3#content_title {
        font-size: 2rem;
    }

    div.right_nav_items ul {
        display: flex;
        padding: 1em 2em 0 1em;
    }

    div.right_nav_items li {
        margin-bottom: 1em;
        padding: 0;
        border: 3px solid #b9b9b9;
        border-radius: 10px;
        font-size: 0.7rem;
    }

    div#nav_head_title {
        padding: 0 0 0 2em;
        margin-top: 3em;
    }

    div.right_nav_items li a {
        width: 100%;
    }

    img#process_diagram_img  {
        display: flex;
        width: 90%;
        margin: 2em 0 0 1em;
        padding: 1em;
        background-color: #f1f1f1;
        border-color: rgba(184, 161, 88, 0.835);
        border-style: solid;
        border-radius: 15px;
    }

    div#intro_box {
        margin-bottom: 7em;
    }

    div.box_wrapper {
        margin: 0 auto 0 auto;
    }

    div.box_repeater {
        position: relative;
        width: 75%;
        grid-template-columns: repeat(1, calc(65%));
        grid-gap: 3%;
        padding: 0;
        left: 25%;
    }

    aside#download_div {
        display: none;
    }

    ul#application_ul_list {
        grid-template-columns: repeat(1, 1fr);
    }

    div#contact_section > h3.sub_header_title {
        margin-left: 35%;
    }

    article#mission_statement_content {
        margin: 0 0 0 2em;
    }

    div#main_content_inner {
        margin: 0;
        padding: 0;
    }

    h3.main_sub_title {
        margin-left: 0.5em;
    }
}
