
.canvas {
    display: block;
    position: relative;
    width: 85%;
    height: 50%;
    background-color: hsla(0, 0%, 96%, 0.609);
    box-shadow: inset 0 0 15px 25px hsla(0, 0%, 90%, 0.882);
    z-index: 1;
}

.outer_circle {
    position: absolute;
    height: 45px;
    width: 45px;
    border-color: hsl(0, 54%, 33%);
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;
}

.circle {
    position: relative;
    margin: auto;
    top: 5%;
    height: 90%;
    width: 90%;
    background-color: rgb(79, 116, 177);
    border-radius: 50%;
    transition: 1s;
}

.circle:hover {
    background-color: rgb(44, 81, 141);
    transition: 1s;
}

.inner_circle {
    position: relative;
    margin: auto;
    height: 80%;
    width: 80%;
    top : 10%;
    left: 0%;
    background-color: rgb(163, 85, 85);
    border-radius: 50%;
    transition: 1s;
}

.inner_circle:hover {
    background-color: rgb(116, 57, 57);
    transition: 1s;
}

svg {

}

.line {
    transition: 2s;
    position: absolute;
    stroke: rgb(84, 113, 177);
    height: 4px;
    cursor: pointer;
}

#arrowhead {
    stroke: rgb(84, 113, 177);
    fill: rgb(84, 113, 177);
}

.transition_text {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    color: hsl(310, 75%, 27%);
}

div#outer_circle_1,
p#text_box_1 {
    top : 30%;
    left: 5%;
}

div#outer_circle_2,
p#text_box_2 {
    top : 20%;
    left: 15%;
    font-size: 10px;
}

div#outer_circle_3,
p#text_box_3 {
    top : 50%;
    left: 30%;
}

div#outer_circle_4,
p#text_box_4 {
    top : 10%;
    left: 40%;
}

div#outer_circle_5,
p#text_box_5 {
    top : 70%;
    left: 50%;
    font-size: 8px;
}

div#outer_circle_6,
p#text_box_6 {
    top : 45%;
    left: 70%;
}

div#outer_circle_7,
p#text_box_7 {
    top : 45%;
    left: 90%;
}

div#circle_1, div#circle_7 {
    background-color: rgb(255, 127, 127);
}


.text_box {
    position: absolute;
    display: inline-block;
    height: 45px;
    width: 45px;
    font-size: 12px;
    text-align: center;
    margin-left: 2px;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    transition: 1s;
}

.text_box_content {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    z-index: 1;
    text-align: left;
    padding-left: 6px;
    padding-right: 3px;
    position: absolute;
    opacity: 0;
    transition: 5s;
    background-color: rgba(44, 44, 44, 0.671);
    color: white;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    white-space:nowrap;
}

.outer_circle:hover + .text_box span,
.text_box:hover > span {
    content: attr(title);
    opacity: 0.8;
    background-color: black;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    color: white;
}

/* Wide Screen view */
@media only screen and (min-width: 1200px) and (max-width: 1400px){

}


/* Mobile view */
@media only screen and (max-width: 768px) {

}
