
.canvas {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: hsla(0, 0%, 90%, 0.882);
    margin-top: 3%;
    margin-left: 8%;
}

.outer_circle {
    position: absolute;
    height: 65px;
    width: 65px;
    border: 1px solid;
    border-color: hsl(0, 54%, 33%);
    border-style: dashed;
    border-width: 3px;
    border-radius: 50%;
}

.circle {
    position: relative;
    margin: auto;
    top: 5%;
    height: 90%;
    width: 90%;
    background-color: rgb(79, 116, 177);
    border-radius: 50%;
    transition: 1s;
}

.circle:hover {
    background-color: rgb(44, 81, 141);
    transition: 1s;
}

.inner_circle {
    position: relative;
    margin: auto;
    height: 80%;
    width: 80%;
    top : 10%;
    left: 0%;
    background-color: rgb(163, 85, 85);
    border-radius: 50%;
    transition: 1s;
}

.inner_circle:hover {
    background-color: rgb(116, 57, 57);
    transition: 1s;
}

svg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.line {
    transition: 2s;
    position: absolute;
    stroke: rgb(84, 113, 177);
    height: 4px;
    cursor: pointer;
}

#arrowhead {
    stroke: rgb(84, 113, 177);
    fill: rgb(84, 113, 177);
}

#outer_circle_1,
#text_box_1 {
    top : 30%;
    left: 5%;
}

#outer_circle_2,
#text_box_2 {
    top : 20%;
    left: 15%;
    font-size: 10px;
}

#outer_circle_3,
#text_box_3 {
    top : 50%;
    left: 30%;
}

#outer_circle_4,
#text_box_4 {
    top : 10%;
    left: 40%;
}

#outer_circle_5,
#text_box_5 {
    top : 70%;
    left: 40%;
    font-size: 8px;
}

#outer_circle_6,
#text_box_6 {
    top : 45%;
    left: 50%;
}

#outer_circle_7,
#text_box_7 {
    top : 45%;
    left: 75%;
}

#circle_1, #circle_7 {
    background-color: rgb(255, 127, 127);
}

.text_box {
    position: absolute;
    display: inline-block;
    height: 65px;
    width: 65px;
    font-size: 12px;
    text-align: center;
    margin-left: 2px;
    margin-top: 1.2%;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    transition: 1s;
}

.text_box_content {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    z-index: 1;
    text-align: left;
    padding-left: 6px;
    padding-right: 3px;
    position: absolute;
    opacity: 0;
    transition: 5s;
    background-color: rgba(44, 44, 44, 0.671);
    color: white;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    white-space:nowrap;
}

.outer_circle:hover + .text_box span,
.text_box:hover > span {
    content: attr(title);
    opacity: 0.8;
    background-color: black;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    color: white;
}
