html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: hsla(0, 0%, 90%, 0.882);
  scroll-behavior: smooth;
  min-width: 774px;
  padding-top: 130px;
  margin: 0;
  transition-duration: 0.2s;
}

header {
  position: relative;
}

section {
  margin-bottom: 5%;
  width: 100%;
}

footer {
  width: 100%;
  margin-bottom: 0px;
}

table {
  width: 60%;
  text-align: center;
  border: 1px solid black;
}

/*            Github link section            */

.github_box {
  position: fixed;
  left: 0px;
  bottom: 1%;
  z-index: 5;
}

.github_box a {
  align-items: center;
  display: inline-block;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 10px;
  padding-left: 15px;
  padding-right:15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: 0.4s;
  color: #FFFFFF;
  text-shadow:  1px 1px 5px hsl(0, 0%, 16%);
  background-color:hsl(0, 43%, 41%);
  border: 2px solid currentColor;
  border-radius: 0.5rem;
}

.github_box a img.image {
  position: relative;
  padding-left: 5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.github_box a:hover {
  color: hsl(0, 100%, 17%);
  background-color:#86670000;
  text-shadow:  0px 2px 3px #ffffff;
  transition-duration: 0.3s;
  border: 2px solid currentColor;
  border-radius: 3rem;
  border-color: #000000;
}

/*               Navigation section              */

/* overall nav */
#nav_bar {
  position: fixed;
  z-index: 3; /*Add this*/
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: azure;
  background-color: hsl(0, 43%, 41%);
  box-shadow: 0px 0px 35px #770000;
  height: 150px;
  width: 100%;
  min-height: 60px;
}

#nav_bar_icon {
  position: static;
  width: 10%;
}

/* left side of the nav */
#nav_bar_icon img {
  position: static;
  margin-left: 25px;
  width: 70px;
  transition-duration: 2s;
}

#nav_bar_icon img:hover {
  position: static;
}

#nav_bar_link {
  position: static;
  width: 26%;
  height: initial;
  display: flex;
  font-family: 'Bebas Neue', cursive;
  margin-left: 12px;
  color: azure;
  text-decoration: none;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav_bar_link .nav_title:hover  {
  transition-duration: 0.5s;
  color: rgb(255, 255, 255);
}

#nav_bar_link .nav_title {
  position: static;
  margin-left: 50px;
  font-size: 1.8vw;
  transition-duration: 0.8s;
  color: rgb(185, 185, 185);
}

/* Nav Center Header */
#nav_head_title {
  position: static;
  width: 35%;
  text-align: center;
  align-self: center;
}

#nav_head_title h1 {
  height: inherit;
  font-family: 'Anton', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 3.3vw;
  background-color: hsl(0, 43%, 41%);
  border-color: hsl(0, 43%, 41%);
  box-shadow: 0px 4px 20px 1px hsl(0, 43%, 41%);
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#nav_head_title h5 {
  font-family: 'Anton', sans-serif;
  color: rgba(184, 161, 88, 0.835);
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* right side of the nav */
.right_nav_items {
  position: relative;
  width: 35%;
}

#nav_bar ul {
  display: flex;
  align-content: center;
  margin-right: 35px;
}

.nav_item, .nav_item a {
  width: 35%;
  text-align: center;
  vertical-align: middle;
  scroll-behavior: smooth;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8vw;
  list-style: none;
  transition-duration: 0.8s;
  text-decoration: none;
  color: rgb(185, 185, 185);
}

.nav_item:hover , .nav_item a:hover {
  scroll-behavior: smooth;
  transition-duration: 0.8s;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* Main content header */
#top_intro_header {
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}

/* Contact header */

#categories {
  width: 100%;
  text-align: center;
}

.inner_div {
  display: inline-block;
  margin-left: 4%;
  width: fit-content;
  text-align: center;
  align-content: center;
}

#run_software_div {
  margin-top: 8%;
  margin-bottom: 8%;
  display: block;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  width: auto;
}

#click_link {
  display: flex;
  transition-duration: 1s;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  color: #770000;
}

#click_link .status {
  margin-top: 0px;
  margin-left: 5px;
  font-size: 12px;
  color: hsl(244, 52%, 42%);
}

#click_link div:hover {
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 20x;
  color: #4e4e4e;
  text-shadow: #4e4e4e 1px 0 3px;
}

#download_div {
  display: block;
  margin-top: 5%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.download_link {
  display: flex;
  transition-duration: 1s;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  color: #770000;
}

.version_p {
  padding-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  color: hsl(244, 52%, 42%);
}

.download_link p:hover {
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 20px;
  color: #4e4e4e;
  text-shadow: #4e4e4e 1px 0 3px;
}

#second_top_intro {
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  width: auto;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

/*             Member Section Contents               */

#main_section {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 0%;
}

.content_section {
  display: block;
  margin-top: 0%;
  margin-left: 10%;
  width: 80%;
  flex-direction: column;
  z-index: 3; /*Add this*/
}

.content_section a {
  font-size: 19px;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}

.intro_div a:hover {
  font-size: 30px;
  transition-duration: 0.5s;
  color: rgb(170, 22, 22);
}

.box_repeater {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 13.5px));
  grid-gap: 25px;
}

.container_wrapper {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
}

.container_wrapper:hover, .span_icon  {
  display: flex;
  transition-duration: 0.3s;
  color: #fff;
  background-color: rgba(184, 161, 88, 0.835);
}

#sponser_box {
  box-shadow: 0px 10px 25px rgba(184, 161, 88, 0.835);
}

/* Introduction & Contact boxe specifics */

#intro_div {
  margin-top: 3%;
}

#intro_div .span_icon img {
  margin-top: 15px;
  margin-left: 25px;
  filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(89%) contrast(83%);
}

.team_member_header {
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 5px;
}

.email_address_p {
  font-size: 17px;
  font-style: italic;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  font-size: 1.0vw;
  color: #A49C5B;
}

.box_margin {
  display: block;
  margin: 15px;
  max-width: 100%;
}

.intro_content_hover {
  display: block;
  position: relative;
  width: 100%;
}

.text_under_content a, .text_under_content h3 {
  display: block;
  position: relative;
  width: 100%;
  color: white;
}

.text_under_content h3 p, .text_under_content h3 a {
  padding-top: 30%;
  font-size: 12px;
  color: white;
}

#sponsor_img {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 70%;
  margin-left: 25%;
  border-radius: 70% 50% 70% 50%;
  opacity: 0.4;
}

#baek_img {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 70%;
  margin-left: 20%;
  border-radius: 50%;
  opacity: 0.4;
}

#cael_img {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 70%;
  margin-left: 20%;
  margin-top: 0%;
  border-radius: 50%;
  opacity: 0.4;
}

/*              Footer attributes              */

.footer_legal {
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
  margin-top: 10%;
  margin-bottom: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  background-color: rgb(0, 0, 0);
}


/*           Miscellaneous attributes           */

.div_line {
  width: 100%;
  border: 3px solid rgb(141, 141, 141);
  border-radius: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 2;
}

