
html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    background-color: hsla(0, 0%, 90%, 0.882);
    scroll-behavior: smooth;
    min-width: 774px;
    padding-top: 130px;
    margin: 0;
    transition-duration: 0.2s;
}

header {
    position: relative;
}

section {
    margin-bottom: 5%;
    width: 100%;
}

footer {
    width: 100%;
    margin-bottom: 0px;
}

table {
    width: 60%;
    text-align: center;
    border: 1px solid black;
}

table {
  width: 60%;
  text-align: center;
  border: 1px solid black;
}

#header_div {
  width: 100%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: hsl(0, 43%, 41%);
  font-size: 2.0vw;
}

#main_section {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 0%;
}

.semester_section{
    position: relative;
    z-index: 2;
}

.box_margin_hover{
    position: fixed;
}

.div_line {
    width: 100%;
    border: 3px solid rgb(141, 141, 141);
    border-radius: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 2;
}

.content_section_aside {
    display: contents;
    position: relative;
  }

/*               Navigation section              */

/* overall nav */
#nav_bar {
    position: fixed;
    z-index: 3; /*Add this*/
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: azure;
    background-color: hsl(0, 43%, 41%);
    box-shadow: 0px 0px 35px #770000;
    height: 90px;
    width: 100%;
    min-height: 90px;
  }

    #nav_bar_icon {
      position: static;
      width: 10%;
    }

    /* left side of the nav */
    #nav_bar_icon img {
      position: static;
      margin-left: 25px;
      width: 70px;
      transition-duration: 2s;
    }

    #nav_bar_icon img:hover {
      position: static;
    }

    #nav_bar_link {
      position: static;
      width: 26%;
      height: initial;
      display: flex;
      font-family: 'Bebas Neue', cursive;
      margin-left: 12px;
      color: azure;
      text-decoration: none;
      padding-left: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #nav_bar_link .nav_title:hover  {
      transition-duration: 0.5s;
      color: rgb(255, 255, 255);
    }

    #nav_bar_link .nav_title {
      position: static;
      margin-left: 50px;
      font-size: 1.8vw;
      transition-duration: 0.8s;
      color: rgb(185, 185, 185);
    }

    /* Nav Center Header */
    #nav_head_title {
      position: static;
      width: 35%;
      text-align: center;
      align-self: center;
    }

    .header_title {
      height: inherit;
      font-family: 'Anton', sans-serif;
      color: hsl(0, 0%, 100%);
      font-size: 3.3vw;
      background-color: hsl(0, 43%, 41%);
      border-color: hsl(0, 43%, 41%);
      box-shadow: 0px 4px 20px 1px hsl(0, 43%, 41%);
      opacity: 1;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    /* right side of the nav */
    .right_nav_items {
      position: relative;
      width: 35%;
    }

    #nav_bar ul {
      display: flex;
      align-content: center;
      margin-right: 35px;
    }

    .nav_item, .nav_item a {
      width: 35%;
      text-align: center;
      vertical-align: middle;
      scroll-behavior: smooth;
      font-family: 'Bebas Neue', cursive;
      font-size: 1.8vw;
      list-style: none;
      transition-duration: 0.8s;
      text-decoration: none;
      color: rgb(185, 185, 185);
    }

    .nav_item:hover , .nav_item a:hover {
      scroll-behavior: smooth;
      transition-duration: 0.8s;
      cursor: pointer;
      color: rgb(255, 255, 255);
    }

  /*               Semester boxes                */

  .sub_header {
    text-align: left;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    width: 69%;
    margin-left: 15.5%;
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    margin-bottom: 0%;
    color: #fff;
    background:hsl(0, 43%, 41%);
  }

  .semester_box_repeater {
    width: 70%;
    margin-left: 15.5%;
    background-color: #FFFFFF;
    grid-template-columns: repeat(3, 1fr);
  }

  .row_box_div {
    display: flex;
    height: 100px;
  }

  .box_subject {
    position: relative;
    flex: 1;
    border-bottom: 3px solid rgb(141, 141, 141);
  }

  .semester_box_repeater {
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  #milestone1_box {
    border-bottom: none;
  }

  #milestone5_box {
    border-bottom: none;
  }

  #milestone6_box {
    border-bottom: none;
  }

  .box_subject .subject_span_icon {
    margin-top: 15px;
    margin-left: 25px;
    filter: invert(51%) sepia(19%) saturate(360%) hue-rotate(169deg) brightness(100%) contrast(90%);
  }

  .ul_first_semester_plan_list{
    width: 100%;
    display: flex;
    padding-left: 0px;
  }

  .subject_span_icon {
    clear: both;
    width: 15%;
    line-height: 0;
    padding-left: 20px;
  }

  .subject_and_time {
    width: 18%;
    min-width: 18%;
    margin-left: 1%;
    margin-bottom: 0%;
    font-family: 'Fjalla One', sans-serif;
  }

  .div_li_first_semester_plan_list {
    display: flex;
    flex: 0 1 auto; /* Default */
    text-decoration: none;
    list-style: none;
    width: 100%;
  }


  .div_li_first_semester_plan_list_item {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

.div_li_first_semester_plan_list_item a {
    z-index: 2;
    min-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    display: inherit;
    text-decoration: none;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    border: 5px hsl(0, 43%, 41%);
    border-style: solid;
    color: #666666;
    font-weight: 800;
    background-color: #ffffff;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.div_li_first_semester_plan_list_item a:hover {
    color: #ffffff;
    background-color: hsl(0, 43%, 41%);
    transition-duration: 0.4s;
}

.box_vertical_line {
    position: relative;
    width: 12px;
    height: 100%;
    margin: 0 auto 0 0;
    box-sizing: border-box;
    pointer-events: initial;
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    background-color: hsl(0, 43%, 41%);
}

  /*           Button Progress attributes           */

.in_progress a {
    animation: changeColor1 10s infinite;
  }

.in_progress a:hover {
    color: #000000;
    font-weight: 800;
    background-color: hsl(0, 0%, 100%);
    animation: changeColor1 10s infinite;
}

@keyframes changeColor1 {
    0% {
      border-color: #8882ff;
    }
    10% {
      border-color: #8882ff;
    }
    20% {
      border-color: #5fffbc;
    }
    30% {
      border-color: #895aff;
    }
    40% {
      border-color: #895aff;
    }
    50% {
      border-color: #9dffd3;
    }
    60% {
      border-color: #895aff;
    }
    70% {
      border-color: #895aff;
    }
    80% {
      border-color: #5fffbc;
    }
    90% {
      border-color: #8882ff;
    }
    100% {
      border-color: #8882ff;
    }
}

.not_prepared a {
    color: hsl(0, 43%, 41%);
    background-color: hsl(0, 43%, 41%);
}

.content p {
    font-family: 'Times New Roman', Times, serif;
}

/*              Footer attributes              */

.footer_legal {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 10%;
    margin-bottom: 0%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    background-color: rgb(0, 0, 0);
}